.background-container {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: fadeIn 8s linear forwards infinite;
}
@keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }
  