/* styles.css */
.normalPHead {
    font-size: 50px;
    text-align: center;
  }
  
  /* Small screens (phones) */
  @media (max-width: 576px) {
    .normalPHead {
      font-size: 35px;
      text-align: center;
    }
  }
  
  /* Medium screens (tablets) */
  @media (min-width: 577px) and (max-width: 992px) {
    .normalPHead {
      font-size: 40px;
      text-align: center;
    }
  }
  
  /* Large screens (desktops) */
  @media (min-width: 993px) {
    .normalPHead {
      font-size: 50px;
      text-align: center;
    }
  }





